.dashboard-card {
    display: flex;
    background-color: $background;
    padding: 1rem;
    gap: 1rem;
    width: 100%;

    border-radius: $border-radius;
    box-shadow: 0px 4px 10px 0px $box-shadow;

    &-link {
        text-decoration: none;
        width: 100%;
    }

    &-body {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 1rem;
    }

    &-media {
        flex: 0 0 auto;
        position: relative;
        img {
            display: block;
            object-fit: cover;
            border-radius: $border-radius;
        }

        &-overlay-button {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            z-index: 1;
        }
    }

    &-header {
        font-weight: 700;
    }

    &-actions {
        display: flex;
        align-items: center;
    }

    &-item {
        display: inline-flex;
        justify-content: space-between;
        flex-direction: column;
        // padding: 1rem;
        gap: 0.5rem;
        width: 100%;
    }

    &-ellipsis {
        background: none;
        border: none;
        cursor: pointer;
        align-self: flex-start;

        &:hover {
            color: $primary-text-fg;
        }
    }

}

.media-rounded {
    img {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        box-shadow: 0px 4px 10px 0px $box-shadow;
    }
}

// .media-filled-rectangle {
//     img {
        
//     }
// }

.dashboard-card-vertical {
    display: flex;
    flex-direction: column;
    background-color: $background;
    padding: 1rem;
    // gap: 1rem;
    width: 100%;

    border-radius: $border-radius;
    box-shadow: 0px 4px 10px 0px $box-shadow;

    .dashboard-card-link {
        text-decoration: none;
        width: 100%;
    }

    .dashboard-card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        gap: 1rem;
    }

    .dashboard-card-media {
        width: 100%;
        max-height: 20rem;
        flex: 0 0 auto;

        img {
            display: block;
            width: 100%;
            max-height: inherit;
            object-fit: cover;
        }
    }

    .dashboard-card-header {
        font-weight: 700;
    }

    .dashboard-card-item {
        display: inline-flex;
        justify-content: space-between;
        align-self: flex-start;
        flex-direction: column;
        padding: 0.75rem;
        gap: 1rem;
        width: 100%;
    }

    .dashboard-card-pair {
        display: inline-flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}