.dashboard-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;

    &.button-section {
        justify-content: flex-start;

        @include tablet {
            justify-content: space-between;
        }
        @include mobile {
            justify-content: space-between;
        }
    }

    &.habitats-list, &.species-list {
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    &.pagination-section {
        justify-content: center;
        padding-bottom: 2rem;
    }

}
