.rate-editor {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 1rem;

    &-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        max-height: 20rem;
        overflow-y: auto;
    }

    &-item {
        display: flex;
        gap: 0.5rem;
        padding: 0.25rem;
        flex-direction: row;

        &-field-section {
            display: flex;
            gap: 0.5rem;

            @include mobile {
                flex-direction: column;
            }
        }

        &-button-section {
            display: flex;
        }

    }

    .button-secondary {
        align-self: flex-start;
    }
}