@import 'mixins/mixins';

@import 'settings/variables';
@import 'settings/typography';
@import 'settings/fonts';

@import 'functions/sizeFunctions';

@import 'components/container';
@import 'components/header';

@import 'components/common/dropdown';
@import 'components/common/messageBox';
@import 'components/common/returnButton';
@import 'components/common/commonLink';

@import 'components/form/input';
@import 'components/form/button';

@import 'components/dashboard/sidemenu';
@import 'components/dashboard/dashboardPageHeader';
@import 'components/dashboard/dashboardMobileHeader';
@import 'components/dashboard/dashboardSection';
@import 'components/dashboard/dashboardCard';
@import 'components/dashboard/dashboardPagination';

@import 'pages/login';
@import 'pages/dashboard/habitat';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 4px;
        background-color: $menu-background;
    }
    &::-webkit-scrollbar-button {
        display: none;
        height: 0;
        width: 0;
    }
    &::-webkit-scrollbar-track {
        background-color: $menu-background;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $border-color;
        border-radius: 4px;
    }
}
